{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Encryptid 2020</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="https://github.com/techsyndicate.png"/>
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" media="all" href="{% static 'css/jquery-jvectormap.css' %}"/>
  <script src="{% static 'js/jquery-1.8.2.js' %}"></script>
  <script src="{% static 'js/jquery-jvectormap.js' %}"></script>
  <script src="{% static 'js/jquery-mousewheel.js' %}"></script>
  <script src="{% static 'js/jvectormap.js' %}"></script>
  <script src="{% static 'js/abstract-element.js' %}"></script>
  <script src="{% static 'js/abstract-canvas-element.js' %}"></script>
  <script src="{% static 'js/abstract-shape-element.js' %}"></script>
  <script src="{% static 'js/svg-element.js' %}"></script>
  <script src="{% static 'js/svg-group-element.js' %}"></script>
  <script src="{% static 'js/svg-canvas-element.js' %}"></script>
  <script src="{% static 'js/svg-shape-element.js' %}"></script>
  <script src="{% static 'js/svg-path-element.js' %}"></script>
  <script src="{% static 'js/svg-circle-element.js' %}"></script>
  <script src="{% static 'js/svg-image-element.js' %}"></script>
  <script src="{% static 'js/svg-text-element.js' %}"></script>
  <script src="{% static 'js/map-object.js' %}"></script>
  <script src="{% static 'js/region.js' %}"></script>
  <script src="{% static 'js/vector-canvas.js' %}"></script>
  <script src="{% static 'js/simple-scale.js' %}"></script>
  <script src="{% static 'js/ordinal-scale.js' %}"></script>
  <script src="{% static 'js/numeric-scale.js' %}"></script>
  <script src="{% static 'js/color-scale.js' %}"></script>
  <script src="{% static 'js/legend.js' %}"></script>
  <script src="{% static 'js/data-series.js' %}"></script>
  <script src="{% static 'js/proj.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script>
    jQuery.noConflict();
jQuery(function(){
  var $ = jQuery;

  $('#focus-single').click(function(){
    $('#map1').vectorMap('set', 'focus', {region: 'AU', animate: true});
  });
  $('#focus-multiple').click(function(){
    $('#map1').vectorMap('set', 'focus', {regions: ['AU', 'JP'], animate: true});
  });
  $('#focus-coords').click(function(){
    $('#map1').vectorMap('set', 'focus', {scale: 7, lat: 35, lng: 33, animate: true});
  });
  $('#focus-init').click(function(){
    $('#map1').vectorMap('set', 'focus', {scale: 1, x: 0.5, y: 0.5, animate: true});
  });
  $('#map1').vectorMap({
    map: 'world_mill_en',
    panOnDrag: true,
    backgroundColor: 'black',
    regionsSelectable: false,
    hoverOpacity: 4,
    zoomButtons : true,
    onRegionTipShow: function (e, label, code) {
      e.preventDefault();
    },
    onRegionClick: function(element, code, region)
    { if (code=="US"|code=="CH"|code=="GB"|code=="KW"|code=="JO") {
      var url = window.location.href;
      var arr = url.split("/");
      window.location.href = arr[0] + "//" + arr[2] + "/country/" + code;
     }
    },
    regionStyle: {
    initial: {
      fill: 'black',
      stroke : "#16e16e",
      "stroke-width" : 1,
      "stroke-opacity" : 0.5,
    },
    hover: {
      stroke : "#16e16e",
      "stroke-width" : 1.7,
      "stroke-opacity" : 3,
    },
    },
    series: {
      regions: [{
        values: {
            // make it light green once 
            // the user completes that level
            CH:'red',
            US:'red',
            GB:'red',
            KW:'red',
            UK:'red',
            JO:'red',
        }
      }]
    }
  });
})
  </script> 
</head>
<body>
  <div id="navbar" class="topnav">
    <form> {% csrf_token %}
    <input type="hidden" id="#userid" value="{{user.id}}"></form>
    <a href="{% url 'index' %}" id="logo"><img class="logo" src="https://github.com/techsyndicate.png"></a>
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="#">Leaderboard</a>
    <a href="javascript:void(0);" class="icon" onclick="responsive()"><i class="fa fa-bars"></i></a>
  </div>
  {% if messages %}
  {% for message in messages %}
    <div class="container">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
  {% endif %}
  <div class="container">
    <h1>{% block header %}{% endblock %}</h1>
    <div  id="map1" style="margin-left:0rem;width: 1200px; height: 800px;"></div>
    <footer>
      <hr><p>Tech Syndicate</p><hr>
    </footer>
  </div>
</body>
</html>
