{% extends 'base.html' %}
{% block header %}
Playing against {{ opponent }}
{% endblock %}
{% block content %}
<div class="level">
    <div class="question">{{ question |safe }}</div>
    <br />
    <form method="POST" action="{% url 'play_duel' %}">
      {% csrf_token %}
      <input type="text" name="answer" placeholder="Your answer" required/><br /><br />
      <button class="button-primary" type="submit">Submit</button>
    </form><br/>
    <center>
    <div class="timer">
      <h4 id="timer" style="color: #16e16e;"></h4>
    </div>
    </center>
</div>


<p hidden>{{ hint }}</p>


<script>
  let countDownDate = parseInt("{{ end_time }}");
  
  let x = setInterval(function() {
    let now = (new Date().getTime()) / 1000;
    let distance = countDownDate - now;
    let minutes = Math.floor((distance % (3600) / 60));
    let seconds = Math.floor((distance % 60));
    
    document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("timer").innerHTML = "0m 0s";
    }
  }, 1000);
</script>
{% endblock %}