{% extends 'base.html' %} {% block content %}
<div class="level">
  <h4>Level for {{ id }} | {{ points }} Points</h4>
  <div class="question">{{ question }}</div>
  <br />
  <form method="POST" action="{% url 'submit' id %}">
    {% csrf_token %}
    <input type="text" name="answer" placeholder="Your answer" /><br /><br />
    <button class="button-primary" type="submit">Submit</button>
  </form><br/>
  <a href="{% url 'skip_level' id %}"><button class="skip-button">Skip</button></a>
</div>


{{ hint |safe }}


{% endblock %}
