{% extends 'base.html' %}
{% block header %}{{ user.name }}{% endblock %}
<hr><br>
{% block content %}
<div class="row">
    <div class="reqd-details">
        <span>Email</span>
        <p>{{ user.email }}</p>
        <span>Current Level</span>
        <p>{{ user.current_level }}</p>
        <span>Last Answer Time</span>
        <p>{{ user.last_answer_time }}</p>
        <span>Points</span>
        <p>{{ user.user_points }}</p>
        <span>Completed Levels</span>
        <p>{{ user.completed_levels }}</p>
        <span>Banned</span>
        <p>{{ user.banned }}</p>
    </div>
    {% if user.banned == False %}
        <form action="{% url 'ban_user'%}" method="POST">
            {% csrf_token %}
            <input name="user_id" type="hidden" value="{{ user.uid }}">
            <td><button type="submit" style="height:35px;width:200px;color: white;border-color:white">Ban</button></td> 
        </form>
    {% else %}
        <form action="{% url 'unban_user'%}" method="POST">
            {% csrf_token %}
            <input name="user_id" type="hidden" value="{{ user.uid }}">
            <td><button type="submit" style="height:35px;width:200px;color: white;border-color:white">Unban</button></td> 
        </form>
    {% endif %}
    <form action="{% url 'delete_user'%}" method="POST">
        {% csrf_token %}
        <input name="user_id" type="hidden" value="{{ user.uid }}">
        <td><button type="submit" style="height:35px;width:200px;color: crimson;border-color:crimson">Delete</button></td> 
    </form>
</div>
<div class="row">
    <div class="reqd-details">
        <h1>Logs</h1>
        <table id="customers" class="u-full-width">
            <thead>
            <tr>
              <th>Sr no.</th>
              <th>Level</th>
              <th>Timestamp</th>
              <th>Content</th>
            </tr>
            </thead>
            <tbody id="count">
            {% for log in log_docs %}
                <tr>
                <td></td>
                <td>{{ log.level }}</td>
                <td>{{ log.timestamp }}</td>
                <td style="word-break: break-all;">{{ log.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>
    span {
        color: #16e16e;
    }
    p {
        color: #fff;
    }
</style>
{% endblock %}