{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Encryptid 2020</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="https://github.com/techsyndicate.png"/>
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" media="all" href="{% static 'map/jquery-jvectormap-2.0.5.css' %}"/>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
  <div id="navbar" class="topnav">
    <a href="{% url 'index' %}" id="logo"><img class="logo" src="https://github.com/techsyndicate.png"></a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a href="{% url 'leaderboard' %}">Leaderboard</a>
    <a href="javascript:void(0);" class="icon" onclick="responsive()"><i class="fa fa-bars"></i></a>
  </div>
  {% if messages %}
  {% for message in messages %}
  <div class="container">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  <div class="container">
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %} {% endblock %}
  </div>
  <footer style="position: fixed;bottom: 0;width:100%;background-color:#000">
    <hr/>
    <p class="footer-text">Tech Syndicate</p>
  </footer>
  <script src="{% static 'index.js' %}"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script>
     responsive = () => {
      let nav = document.getElementById("navbar");
      if (nav.className === "topnav") {
        nav.className += " responsive";
      } else {
        nav.className = "topnav";
      }
    }
  </script>
  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Aug 1, 2020 00:00:00").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    
      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "0d 0h 0m 0s";
      }
    }, 1000);
  </script>
</body>
</html>